@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    --primary-color: #FACBEA;
    --secondary-color: #B0578D;
    --tertiary-color: #D988B9;

    --text-primary-color: #361500;
    --navbar-color: #FFFFFF;
}

body.dark {
    --primary-color: #212121;
    --secondary-color: #616161;
    --tertiary-color: #424242;

    --text-primary-color: #FFFFFF;
    --navbar-color: #424242;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mooli', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: var(--navbar-color);
}

.logo h1 {
    font-family: 'Pacifico', cursive;
    color: var(--text-primary-color);
}

.list-item {
    display: flex;
    list-style-type: none;
}

.list-item hr {
    border: 1px solid rgba(0, 0, 0, 0.2);

}

.list-item li {
    padding: 0 64px;
}

.list-item li a {
    color: var(--text-primary-color);
    text-decoration: none;
}

.list-item li a:hover {
    font-weight: bold;
}

.nav-icon svg{
    height: 24px;
    margin-left: 16px;
    fill: var(--text-primary-color);
}

.nav-icon a {
    text-decoration: none;
}

#light {
    display: inline;
}

#night {
    display: none;
}

.hero {
    display: flex;
    height: 700px;
    background-color: var(--primary-color);
}

.hero-title {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title h1 {
    font-size: 56px;
    color: var(--text-primary-color);
}

.hero-title p {
    margin-top: 16px;
    background-color: var(--secondary-color);
    padding: 8px 32px;
    border-radius: 8px;
    letter-spacing: 8px;
    font-size: 18px;
    color: white;
    rotate: -2deg;
}

.hero-img {
    flex-basis: 40%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.hero-img img {
    height: 90%;
}

.hero-desc {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.hero-desc hr {
    width: 30%;
    border: 1px solid var(--text-primary-color);
}

.hero-desc h2 {
    color: var(--text-primary-color);
    font-size: 48px;
}

.hero-desc P {
    color: var(--text-primary-color);
}

.menu {
    height: auto;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu h2 {
    margin-top: 32px;
    margin-bottom:  8px;
    color: white;
}

.menu hr {
    width: 200px;
    border: 1px solid white;
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 64px;
}

.list-menu {
    width: 15%;
    margin-block: 64px;
}

.list-menu img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius:  150px 150px 0 0;
}

.nama-harga {
    margin-top: -5px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 0 150px 150px 150px;
    padding: 16px 32px;
}

.nama-harga h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.shop-now {
    margin: 32px;
    padding: 16px 32px;
    border: 2px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    border-radius: 50px;
    color: var(--secondary-color);
}

.shop-now:hover {
    background-color: var(--secondary-color);
    color: white;
}

.shop-now a {
    text-decoration: none;
}

footer {
    background-color: black;
    padding: 8px;
    text-align: center;
    color: white;
}

.product {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary-color);
}

.product-container {
    padding: 32px;
    border-radius: 16px;
    background-color: var(--navbar-color);
    color: var(--text-primary-color);
    text-align: center;
}

.about {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-primary-color);
}

.about hr {
    margin-top: 8px;
    width: 100px;
    border: 1px solid var(--text-primary-color);
}

.about-content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content img {
    height: 70%;
    border-radius:  250px 250px 0 0;
    margin-right: 128px
}

.biodata td {
    padding: 16px;
    font-weight: bold;
}


/* .form {
    height: 100vh;
    display: flex;
}

.form-box {
    flex-basis: 40%;
    padding: 64px;
    box-shadow: 0 25px 50px -10px #ABABAB;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title h1 {
    margin-bottom: 8px;
}

.form-container {
    width: 100%;
    padding-block: 32px;
}

.form-container label {
    width: 100%;
}

.input-container {
    display: flex;
    gap: 16px;
}

.input-field {
    width: 100%;
    margin-top: 8px;
    padding: 16px;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    display: flex;
}

.input-field:focus {
    outline: 2px solid var(--tertiary-color);
}

.policy {
    font-size: 14px;
    accent-color: var(--secondary-color);
    display: flex;
    gap: 16px;
}

.submit-btn {
    width: 100%;
    padding: 16px;
    background-color: var(--secondary-color);
    border: var(--tertiary-color);
    border-radius: 8px;
    color: white;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: var(--tertiary-color);
    box-shadow: 0 5px 10px -5px #CDCDCD;
}

.login-with {
    width: 100%;
    text-align: center;
}

.login-with-btn {
    margin-top: 16px;
    display: flex;
    gap: 16px;
}

.login-with-btn button {
    width: 100%;
    padding: 16px 32px;
    background-color: white;
    border: 1px solid #CDCDCD;
    border-radius: 8px;
    box-shadow: 0 5px 10px -5px #CDCDCD;
    display: flex;
    gap: 16px;
    align-items: center;
}

.login-with-btn button p {
    width: 100%;
    text-align: center;
}

.login-with-btn button:hover {
    cursor: pointer;
    background-color: #EFEFEF;
}

.form-background {
    flex-basis: 60%;
    position: relative;
    overflow: hidden;
}

.form-background img {
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.form-background h1 {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: var(--text-primary-color);
    position: absolute;
    bottom: 16px;
    right: 32px;
} */

@media (max-width: 640px) {
    .list-item {
        display: none;
    }

    .hero {
        flex-direction: column;
        justify-content: end;
    }

    .hero-img {
        height: 20%;
    }

    .hero-desc {
        display: none;
    }

    .menu {
        height: auto;
    }
    .menu-container {
        flex-direction: column;
        align-items: center;
    }

    .list-menu {
        width: 80%;
        margin-block: 16px;
    }

    .about {
        height: auto;
    }
    .about h1 {
        margin-top: 64px;
    }
    .about-content {
        margin-block: 64px;
        width: 100%;
        flex-direction: column;
        
    }
    .about-content img {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 32px;
    }
    
}

